@charset "UTF-8";
@import url("/_fonts/SourceSansPro_Regular/stylesheet.css");
@import url("/_fonts/SourceSansPro_SemiBold/stylesheet.css");
@import url("/comp/nav/styles/nav-top-strip.css");
@import url("/comp/nav/styles/nav-button-box.css");
@import url("/comp/nav/styles/nav-mobile-menu-trigger.css");

:root {
    --theme-color: rgba(19,32,62,0.9);
    --theme-shallow-color:  rgba(19,32,62,0.8);
    --complementary-color:  orangered;
    --pc-topStrip-padding-expand:   25px 10px 70vh 10px;
    --topStrip-padding-shrink:   15px 10px 15px 10px;
    --pc-buttonBox-width-expand:    100%;
    --pc-buttonBox-width-shrink:    421px;
    --pc-buttonBox-radius-expand:   0px;
    --pc-buttonBox-radius-shrink:   7px;
    --pc-transition-time-function-in: cubic-bezier(0.2,0.5,0,1);
    --pc-transition-time-function-out: cubic-bezier(1,0,0.8,0.5);
    --pc-button-onclick-transform: rotateX(0deg) rotateX(0deg);
    --pc-button-onclick-rotate-x: 0;
    --pc-button-onclick-rotate-y: 0;
}

.nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    pointer-events: none;
    perspective: 100px;
    z-index: 1000;
}

.nav-mobile{
    transition: all 0.6s cubic-bezier(.2,.00,.0,1);
    transform: translateZ(0px);
}

.nav-pc{
    transition: all 0.6s var(--pc-transition-time-function-in);
    transform: translateZ(0px);
}

#loading-state:checked + .nav-pc{
    transition: all 0.6s var(--pc-transition-time-function-out);
    transform: translateZ(5px);
}

.nav-websiteTitle-container {
    border-radius: 3px;
    transition: 0.4s;
    margin-bottom: -5px;
    margin-top: -5px;
    padding: 5px;
    background-color: transparent;
}
.nav-websiteTitle-caption {
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
    font-family: SourceSansPro Semibold, serif;
    font-size: 20px;
}
.nav-websiteTitle-decorationLine {
    width: 20px;
    height: 5px;
    background-color: var(--complementary-color);
    margin-top: 8px;
    transition: 0.4s;
}
