.nav-mobileExpandBtn{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 20px;
    float: right;
    position: relative;
    background-color: rgba(19,32,62,0.9);
    border-width: 0;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    cursor: pointer;
}

.nav-mobileExpandBtn-Bread{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    -webkit-transition: transform 0.25s 0.0s cubic-bezier(0.8,0.0,0.8,0.5);
    transition:all 0.25s 0.0s cubic-bezier(0.8,0.0,0.8,0.5);
}

.nav-mobileExpandBtn-Line{
    display: block;
    left: 5%;
    width: 90%;
    height: 3px;
    background: #fff;
    border-radius: 1.5px;
    position: absolute;

    -webkit-transition: transform 0.4s 0.25s cubic-bezier(0.2,0.5,0.2,1.0);
    transition:all 0.4s 0.25s cubic-bezier(0.2,0.5,0.2,1.0);
}

.nav-mobileExpandBtn-Line-top{
    top: 8px;
}

.nav-mobileExpandBtn-Line-bottom{
    bottom: 8px;
}

#nav-mobileMenuState:checked ~ * .nav-mobileExpandBtn-Bread-top{
    transform: rotateZ(45deg);
}

#nav-mobileMenuState:checked ~ * .nav-mobileExpandBtn-Bread-bottom{
    transform: rotateZ(-45deg);
}

#nav-mobileMenuState:checked ~ * .nav-mobileExpandBtn-Line-top{
    transform: translateY(5.5px);
}

#nav-mobileMenuState:checked ~ * .nav-mobileExpandBtn-Line-bottom{
    transform: translateY(-5.5px);
}

#nav-mobileMenuState:checked ~ * .nav-mobileExpandBtn-Line{
    -webkit-transition: transform 0.25s 0.0s cubic-bezier(0.8,0.0,0.8,0.5);
    transition:all 0.25s 0.0s cubic-bezier(0.8,0.0,0.8,0.5);
}

#nav-mobileMenuState:checked ~ * .nav-mobileExpandBtn-Bread{
    -webkit-transition: transform 0.4s 0.25s cubic-bezier(0.2,0.5,0.2,1.0);
    transition:all 0.4s 0.25s cubic-bezier(0.2,0.5,0.2,1.0);
}