@import "svgs.css";
@import "pcb.css";
.banner-bg .home-banner-card{
    --size: calc(35vh);
    width: var(--size);
    height: var(--size);
    margin: auto 30px 30px 30px;
    padding: 15px;
    border-radius: 7px;

    background-color: rgba(245,245,247,0.9);
    /*backdrop-filter: blur(20px);*/
    /*-webkit-backdrop-filter: blur(20px);*/

    transform-style: preserve-3d;
    transform: translateZ(0px);
}

.banner-bg{
    background-color: black!important;
    background-repeat: no-repeat;

    background-image: url("/src/home/images/banner_bg-feb26.jpeg")!important;
    background-size: cover!important;
    background-position: center top!important;
    display: flex;
    z-index: -1;
}

.chapter:last-child {
    overflow: hidden;
}