.disable_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.invisible_checkbox{
	display: none;
}

.break{
	flex-basis: 100%;
	height: 0;
	margin: 0;
	padding: 0;
}

.ratio_width_based_on_height {
	height: 100%;
	width: auto;
	margin: 0;
}

.obj_frame {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.9);
}

.loading_animation {
	position: fixed;
	top:  calc(50% - 30px);
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	display: block;
	transition: all 0.25s;
}

.loading_animation span {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.loading_animation span:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 7px;
	height: 7px;
	background-color: rgba(255,255,255,1.00);
	border-radius: 50%;
}

.loading_animation span:nth-child(1) {
	animation: loading_animation_trace 5.5s 0.2s infinite;
}

.loading_animation span:nth-child(2) {
	animation: loading_animation_trace 5.5s 0.4s infinite;
}

.loading_animation span:nth-child(3) {
	animation: loading_animation_trace 5.5s 0.6s infinite;
}

.loading_animation span:nth-child(4) {
	animation: loading_animation_trace 5.5s 0.8s infinite;
}

.loading_animation span:nth-child(5) {
	animation: loading_animation_trace 5.5s 1s infinite;
}


/**This animation curve is sourced from https://jsrun.net/RXvKp/edit, which simulated win 10 animation.**/
@keyframes loading_animation_trace {
	0% {
		opacity: 1;
		transform: rotate(210deg);
		animation-timing-function: cubic-bezier(0.29, 0.44, 0.32, 0.74);
	}
	7% {
		opacity: 1;
		transform: rotate(320deg);
		animation-timing-function: linear;
	}
	30% {
		opacity: 1;
		transform: rotate(470deg);
		animation-timing-function: cubic-bezier(0.53, 0.27, 0.37, 0.81);
	}
	39% {
		opacity: 1;
		transform: rotate(665deg);
		animation-timing-function: linear;
	}
	63% {
		opacity: 1;
		transform: rotate(820deg);
		animation-timing-function: cubic-bezier(0.5, 0.32, 0.82, 0.54);
	}
	68% {
		opacity: 1;
		transform: rotate(940deg);
		animation-timing-function: ease-in;
	}
	69% {
		opacity: 0;
		transform: rotate(950deg);
	}
}

body::-webkit-scrollbar {
	display: none;
}