@charset "UTF-8";

.homepage_lines {
    stroke-width: 40;
    stroke: white;
    transition: all 0.0s;
}

#homepage_banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

#homepage_hello {
    transition: all 0.0s;
    stroke: white;
}

#homepage_title{
    padding: 10px;
    text-align: left;
}

#homepage_title::after {
    padding-top:60%;
}

.hompage_banner_content {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    display: block;
}