@charset "UTF-8";

.homepage_lines {
    stroke-width: 40;
    stroke: white;
    transition: all 0.0s;
}

#homepage_banner_img{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 0;
    top: 0;
    left: 0;
    height: calc(70vh + 90px);
    z-index:-1;
    display: block;
    object-fit: cover;
}

#homepage_title{
    position: absolute;
    display: flex;
    background-color: rgba(19,32,62,0.7);
    top: 30vh;
    left: 5vw;
    height: 40vh;
    min-width: 240px;
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px
}

#homepage_hello {
    transition: all 0.0s;
    stroke: white;
}

#homepage_title{
    padding: 10px;
    text-align: left;
}

#homepage_title::after {
    padding-top:60%;
}

.hompage_banner_content {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    display: block;
}

.showcase_imgs {
    position: relative;
    height: 150%;
    box-shadow: black;
    transition: top 1.0s;
    -webkit-filter: drop-shadow(-15px 15px 15px rgba(0,0,0,0.3));
    filter: drop-shadow(-15px 15px 15px rgba(0,0,0,0.3));
}

.showcase_block {
    width:90vw;
    padding: 5vw;
    display: flex;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
}

.showcase_subblock {
    display: inline-block;
    width: 50%;
    height: 40vh;
    min-width: 400px;
    flex-wrap: nowrap;
}

.break {
    background-color: red;
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}

.subtitle {
    margin-left: 0;
    font-family: JetBrainsMonoNL-Regular, serif;
    font-weight:normal
}

.decoration_line {
    width: 40px;
    height: 5px;
    background-color: orangered
}

.href_link_btn {
    font-family: JetBrainsMonoNL-Regular, serif;
    font-size: 18px;
    border: transparent;
    background-color: transparent;
    margin: 15px 0 15px 0;
    padding: 0;
    transition: all 0.5s;
    position: relative;
    color: rgba(0,28,68,1.00);
}

.href_link_btn::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: rgba(0,28,68,1.00);
    transform-origin: bottom left;
    transition: transform 0.25s ease-in-out;
}

.href_link_btn:hover::after {
    transform: scaleX(1);
}

.attached_info {
    font-family: JetBrainsMonoNL-Regular, serif;
    font-size: 12px;
    padding: 3px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: orangered;
    color: orangered;
}
