@charset "UTF-8";

.homepage_lines {
    stroke-width: 40;
    stroke-dasharray: 20000;
    stroke-dashoffset: 20000;
    transition-duration: 0.5s;
}
#homepage_hello {
    transition-duration: 1.5s;
    stroke-dasharray: 20000;
    stroke-dashoffset: 20000;
}
#homepage_line0 {
    transition: all ease-in;
    transition-delay: 1.5s;
    transition-duration: 0.5s;
}
#homepage_line1 {
    transition: all ease-in;
    transition-delay: 2.0s;
    transition-duration: 1.0s;
}
#homepage_line2{
    transition: all ease-in;
    transition-delay: 3s;
    transition-duration: 0.3s;
}
#homepage_line3{
    transition: all ease-in-out;
    transition-delay: 3.3s;
    transition-duration: 0.2s;
}
#homepage_line4{
    transition: all ease-in-out;
    transition-delay: 3.5s;
    transition-duration: 0.7s;
}
#homepage_line5{
    transition: all ease-in-out;
    transition-delay: 4.2s;
    transition-duration: 0.1s;
}
#homepage_line6{
    transition: all ease-in-out;
    transition-delay: 4.3s;
    transition-duration: 0.1s;
}
#homepage_line7{
    transition: all ease-out;
    transition-delay: 4.4s;
    transition-duration: 1.5s;
}
#homepage_line8{
    transition: all ease-in-out;
    transition-delay: 5.1s;
    transition-duration: 1.5s;
}
#homepage_line9{
    transition: all ease-out;
    transition-delay: 5.9s;
    transition-duration: 0.3s;
}

#homepage_title{
    padding: 10px;
}