@charset "UTF-8";
@import url("../webfonts/SourceSansPro_Regular/stylesheet.css");
.navi_title {
    font-family: "SourceSansPro SemiBold";
	color: #FFFFFF;
	font-size: 20px; 
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.4s;
	display: flex;
	align-items: center;
}

.navi_titleline {
    width: 20px;
	height: 5px;
    background-color: orangered;
    margin-top: 8px;
    transition: 0.4s;
}

.navi_buttonbg {
    font-family: "SourceSansPro Bold";
    background-color: rgba(19,32,62,0.9);
    color: white;
    /* [disabled]padding-right: 0%; */
    /* [disabled]padding-left: 0%; */
    padding-bottom: 0.5px;
    margin-top: 0px;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
}
.navi_button{
    color: white;
    padding-right: 20px;
    padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
    text-decoration: none;
	transition: 0.4s;
	border-width: -5;
	border-color: orangered;
}
.navi_button:hover{
	background-color: rgba(255,255,255,0.05);
	border-bottom: 5px inset orangered;
	padding-bottom: 15px;
} 
.navigation_box{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(12, 40, 82,0.9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(20px);
	transition: 1s;
}

