@charset "UTF-8";
@import url("../webfonts/SourceSansPro_Regular/stylesheet.css");
@import url("../webfonts/SourceSansPro_Black/stylesheet.css");
@import url("../webfonts/NanumGothic_Bold/stylesheet.css");
/*universal components*/

.navi_background{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(255,255,255,0.0);
	transition: 0.4s;
}

.navi_title::before{
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(0px);
}

.navi_title {
	font-family: "SourceSansPro SemiBold", serif;
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 180px;
    display: flex;
    align-items: center;
	-webkit-backdrop-filter: blur(0px);
	transition-property: padding, background-color, -webkit-backdrop-filter, backdrop-filter;
	transition-duration: 0.4s, 0.4s, 0.4s;
	transition-delay: 0.0s, 0.2s, 0.2s;
}

.navi_titleline {
    width: 20px;
	height: 5px;
    background-color: orangered;
    margin-top: 8px;
    transition: 0.4s;
}

.navi_logo_union {
	border-radius: 3px;
	transition: 0.4s;
	margin-bottom: -5px;
	margin-top: -5px;
	padding: 5px;
	/*background-color: rgba(12, 40, 82, 0.9);*/
	background-color: transparent;
}
/*pc components*/

.navi_pc_page_button_box::before {
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(10px);
}

.navi_pc_page_button_box {
	overflow:hidden;
	font-size: 0;
	display:flex;
    font-family: "SourceSansPro SemiBold", serif;
    background-color: rgba(19,32,62,0.9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(20px);
    color: white;
	width: 434px;
	height: auto;
	vertical-align: top;
	transition: 0.4s;
	border-radius: 7px;
	justify-content: center;
}

.navi_pc_page_button{
    color: white;
	background-color: transparent;
	top: 0;
	bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
	margin: 0;
    text-decoration: none;
	transition: all 0.4s;
	border-width: 0;
	border-color: orangered;
	font-size: 17px;
	vertical-align: top;
	font-family: "SourceSansPro SemiBold", serif;
}

.navi_pc_page_button:hover{
	background-color: rgba(255,255,255,0.05);
	border-bottom: 5px inset orangered;
	padding-top: 5px;
} 

.navi_pc_decoration {
    float: right;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -10px;
    margin-bottom: -10px;
	font-family: "NanumGothic Bold", serif;
    font-style: normal;
    font-weight: 400;
    color: white;
	transition: 0.2s;
	border-radius: 3px;
}

/*mobile_component*/

.navi_mobile_page_button_box::before{
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(0);
	backdrop-filter: blur(0);
	transition: all 0.4s;
}

.navi_mobile_page_button_box{
	align-content: flex-start;
	overflow:hidden;
	font-size: 0;
	display:flex;
	flex-wrap: wrap;
    font-family: "SourceSansPro SemiBold", serif;
    background-color: rgba(255,255,255,0.7);
    color: white;
	width: 100%;
	height: 0;
	justify-content: center;
	vertical-align: top;
	transition: 0.4s;
}

.navi_mobile_page_button{
	overflow:hidden;
	display: block;
    color: rgba(0,28,68,1.00);
	background-color: transparent;
	width: 47.5vw;
	height: 10vh;
	margin: 0;
    text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(100,100,100,0.60);
	font-size: 14px;
	vertical-align: center;
	font-family: 'SourceSansPro SemiBold', serif;
	letter-spacing: 0.5px;
	opacity: 0;
}

.navi_mobile_page_button:hover{
	background-color: rgba(255,255,255,0.05);
	border-bottom-width: 5px; 
	border-bottom-style: inset;
	border-bottom-color: orangered;
}

#navi_mobile_page_button1 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	transition-property: opacity, color, height, border-bottom;
	transition-duration: 0.4s, 0.4s, 0.4s, 0.4s;
	transition-delay: 0.0s, 0.0s, 0.0s, 0.0s;
}

#navi_mobile_page_button2 {
	border-top-width: 1px;
	border-left-width: 0;
	border-right-width: 1px;
	transition-property: opacity, color,height, border-bottom;
	transition-duration: 0.4s, 0.4s, 0.4s, 0.4s;
	transition-delay: 0.1s, 0.0s, 0.0s, 0.0s;
}

#navi_mobile_page_button3 {
	border-top-width: 0;
	border-left-width: 1px;
	border-right-width: 1px;
	transition-property: opacity, color,height, border-bottom;
	transition-duration: 0.4s, 0.4s, 0.4s, 0.4s;
	transition-delay: 0.2s, 0.0s, 0.0s, 0.0s;
}

#navi_mobile_page_button4 {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 1px;
	transition-property: opacity, color,height, border-bottom;
	transition-duration: 0.4s, 0.4s, 0.4s, 0.4s;
	transition-delay: 0.3s, 0.0s, 0.0s, 0.0s;
}

.navi_mobile_menu_button_box {
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: 20px;
	float: right;
	position: relative;
	background-color: rgba(19,32,62,0.9);
	border-width: 0;
	border-radius: 5px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	
	cursor: pointer;
}

.navi_mobile_menu_button_bread {
	position: absolute;
	top: 5px;
	left: 5px;
    width: 30px;
    height: 30px;
}

.navi_mobile_menu_button_line {
    display: block;
	left: 5%;
    width: 90%;
    height: 3px;
    background: #fff;
    border-radius: 1.5px;
    position: absolute;
}

.navi_mobile_menu_title {
	display: flex;
	font-size: 16px;
	color: rgba(0,28,68,1.00);
	transition: all 0.4s;
	width: 95vw;
	height: 10px;
	flex-direction: column;
	justify-content: center;
	font-family: 'SourceSansPro SemiBold', serif;
}

.navi_mobile_menu_state {
	display: none;
}

.navi_mobile_menu_button_bread_top{
	-webkit-transition: transform 0.15s 0.0s ease-in-out;
    transition:all 0.15s 0.0s ease-in-out;
}

.navi_mobile_menu_button_bread_bottom{
	-webkit-transition: transform 0.15s 0.0s ease-in-out;
    transition:all 0.15s 0.0s ease-in-out;
}

.navi_mobile_menu_button_line_top{
	top: 8px;
	-webkit-transition: transform 0.15s 0.15s;
	transition: transform 0.15s 0.15s;
}

.navi_mobile_menu_button_line_bottom{
	bottom: 8px;
	-webkit-transition: transform 0.15s 0.15s;
	transition: transform 0.15s 0.15s;
}

#navi_mobile_menu_state_obj:checked ~ * .navi_mobile_menu_button_line_top {
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
	transform: translateY(5.5px);
}

#navi_mobile_menu_state_obj:checked ~ * .navi_mobile_menu_button_line_bottom {
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
	transform: translateY(-5.5px);
}

#navi_mobile_menu_state_obj:checked ~ * .navi_mobile_menu_button_bread_top {
	-webkit-transition: transform 0.15s 0.15s ease-in-out;
    transition:all 0.15s 0.15s ease-in-out;
    -webkit-transform: rotate(45deg);
    transform:rotate(45deg)
}

#navi_mobile_menu_state_obj:checked ~ * .navi_mobile_menu_button_bread_bottom {
	-webkit-transition: transform 0.15s 0.15s ease-in-out;
    transition:all 0.15s 0.15s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg)
}

