@charset "UTF-8";
@import url("../webfonts/SourceSansPro_Regular/stylesheet.css");
@import url("../webfonts/SourceSansPro_Black/stylesheet.css");
@import url("../webfonts/NanumGothic_Bold/stylesheet.css");
/*universal components*/
.navi_title {
    font-family: "SourceSansPro SemiBold";
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.4s;
    display: flex;
    align-items: center;
}

.navi_title:before {
	display: block;
}

.navi_titleline {
    width: 20px;
	height: 5px;
    background-color: orangered;
    margin-top: 8px;
    transition: 0.4s;
}

.navi_box{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(255,255,255,0.0);
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	transition: 0.4s;
}

.navi_logo_union {
	border-radius: 3px;
	transition: 0.4s;
	margin-bottom: -5px;
	margin-top: -5px;
	padding: 5px;	
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(20px);
	background-color: rgba(12, 40, 82, 0.9);
}
/*pc components*/

.navi_page_button_pc_bg {
	overflow:hidden;
	font-size: 0px;
	display:inline-flex;
    font-family: "SourceSansPro Bold";
    background-color: rgba(19,32,62,0.9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(20px);
    color: white;
	width: 434px;
	height: auto;
	vertical-align: top;
	transition: 0.4s;
	border-radius: 7px;
}
.navi_page_button_pc{
    color: white;
    padding-right: 20px;
    padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
    text-decoration: none;
	transition: all 0.4s;
	border-width: -5;
	border-color: orangered;
	font-size: 17px;
	vertical-align: top;
}
.navi_page_button_pc:hover{
	background-color: rgba(255,255,255,0.05);
	border-bottom: 5px inset orangered;
	padding-bottom: 15px;
} 

.navi_pc_decoration {
    float: right;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family: "NanumGothic Bold";
    font-style: normal;
    font-weight: 400;
    color: black;
	transition: 0.2s;
}

/*mobile_component*/

.navi_mobile_menu_button_box {
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: 20px;
	float: right;
	position: relative;
	background-color: orangered;
	border-width: 0px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	
	cursor: pointer;
}

.navi_mobile_menu_button_bread {
	position: absolute;
	top: 5px;
	left: 5px;
    width: 30px;
    height: 30px;
}

.navi_mobile_menu_button_line {
    display: block;
	left: 5%;
    width: 90%;
    height: 3px;
    background: #fff;
    border-radius: 1.5px;
    position: absolute;
}

.navi_mobile_menu_state {
	display: none;
}

.navi_mobile_menu_button_bread_top{
	-webkit-transition: transform 0.15s 0.0s ease-in-out;
    transition:all 0.15s 0.0s ease-in-out;
}

.navi_mobile_menu_button_bread_bottom{
	-webkit-transition: transform 0.15s 0.0s ease-in-out;
    transition:all 0.15s 0.0s ease-in-out;
}

.navi_mobile_button_line_top{
	top: 8px;
	-webkit-transition: transform 0.15s 0.15s;
	transition: transform 0.15s 0.15s;
}

.navi_mobile_button_line_bottom{
	bottom: 8px;
	-webkit-transition: transform 0.15s 0.15s;
	transition: transform 0.15s 0.15s;
}

#navi_mobile_menu_state_obj:checked ~ * .navi_mobile_button_line_top {
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
	transform: translateY(5.5px);
}

#navi_mobile_menu_state_obj:checked ~ * .navi_mobile_button_line_bottom {
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
	transform: translateY(-5.5px);
}

#navi_mobile_menu_state_obj:checked ~ * .navi_mobile_menu_button_bread_top {
	-webkit-transition: transform 0.15s 0.15s ease-in-out;
    transition:all 0.15s 0.15s ease-in-out;
    -webkit-transform: rotate(45deg);
    transform:rotate(45deg)
}

#navi_mobile_menu_state_obj:checked ~ * .navi_mobile_menu_button_bread_bottom {
	-webkit-transition: transform 0.15s 0.15s ease-in-out;
    transition:all 0.15s 0.15s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg)
}
