@import "/_fonts/JetbrainMono/stylesheet.css";
@import "/webfonts/SourceSansPro_Bold/stylesheet.css";
@import "/webfonts/SourceSansPro_Black/stylesheet.css";
@import "/webfonts/SourceSansPro_Regular/stylesheet.css";
@import "/webfonts/SourceSansPro_SemiBold/stylesheet.css";
h1 {
    margin-left: 5vw;
    font-family: "SourceSansPro Bold", serif;
    color:		rgba(0,28,68,1.00);
}

h2 {
    margin-left: 5vw;
    font-family: "SourceSansPro Bold", serif;
    color:		rgba(0,28,68,1.00);
}

h3 {
    margin-left: 5vw;
    font-family: "SourceSansPro Bold", serif;
    color:		rgba(0,28,68,1.00);
}

largetitle {
    font-family: "JetBrainsMono-Regular", serif;
    font-size: 40px;
}

