@import "/_fonts/JetbrainMono/stylesheet.css";
@import "/webfonts/SourceSansPro_Bold/stylesheet.css";
@import "/webfonts/SourceSansPro_Black/stylesheet.css";
@import "/webfonts/SourceSansPro_Regular/stylesheet.css";
@import "/webfonts/SourceSansPro_SemiBold/stylesheet.css";
h1 {
    margin-left: 0;
    font-family: "SourceSansPro Bold", serif;
    color:		rgba(0,28,68,1.00);
    font-weight: normal;
}

h2 {
    margin-left: 0;
    font-family: "SourceSansPro Bold", serif;
    color:		rgba(0,28,68,1.00);
    font-weight: normal;
    border-bottom: rgba(0,28,16,0.20) 1px solid;
}

h3 {
    margin-left:   0;
    margin-top:    10px;
    margin-bottom: 10px;
    font-family:   "SourceSansPro Bold", serif;
    color:		   rgba(0,28,68,1.00);
    font-weight:   normal;
}

h4 {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "SourceSansPro Regular", serif;
    color:       rgba(0,28,16,1.00);
    font-weight: normal;
}

largetitle {
    font-family: "JetBrainsMono-Regular", serif;
    font-size: 40px;
}

