@charset "UTF-8";
@import url("../webfonts/SourceSansPro_Regular/stylesheet.css");
@import url("../webfonts/SourceSansPro_Black/stylesheet.css");
@import url("../webfonts/NanumGothic_Bold/stylesheet.css");
/*universal components*/

#about_personal_info {
    width: 300px;
    display: block;
}

.about_personal_info_line {
    font-family: "SourceSansPro Regular", serif;
    display: flex;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    align-items: center;
    margin: 10px 0 10px 0;
}

.about_personal_info_line::before {
    content: "";
    padding-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    height: 18px;
    color: rgba(0,0,0,0);
    background-size: 100% 100%;
}

#about_school::before{
    background-image: url('/_images/pg_about/icons/edu.svg');
}

#about_major::before{
    background-image: url("/_images/pg_about/icons/major.svg");
}

#about_mail::before{
    background-image: url("/_images/pg_about/icons/mail.svg");
}

#about_location::before {
    background-image: url("/_images/pg_about/icons/location.svg");
}

#about_personal_experience {
    width: 600px;
    padding-left: 30px;
    padding-right: 30px;
}

h4{
    color: orangered;
}

.about_social_links {
    margin-right: 10px;
    opacity: 70%;
    transition: all 0.5s cubic-bezier(.25,.26,.02,1);
    margin-top: 0;
    background-color: transparent;
}

.about_social_links img{
    transition: all 0.5s cubic-bezier(.25,.26,.02,1);
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0,28,68,0.5);
}

.about_social_links:hover img{
    box-shadow: 0 4px 8px rgba(0,28,68,0.3);
}

.about_social_links:hover {
    opacity: 100%;
    margin-top: -4px;
}