@charset "UTF-8";

.homepage_lines {
    stroke-width: 40;
    stroke: black;
    transition: all 0.0s;
}

.homepage_banner{
    width: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    height: calc(70vh + 90px);
    z-index:-1;
    display: block;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: center;
    background-attachment: fixed;
    background-image: url("/_images/pg_intro/intro_bannerbg.jpeg");
    background-position: -9999px 9999px;
}

.homepage_banner::before {
    /**fuck css hack for mobile browser**/
    background-position-y: center;
    content: "";
    background-image: inherit;
    background-size: cover;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#homepage_title{
    position: absolute;
    display: flex;
    background-color: rgba(255,255,255,0.7);
    top: 30vh;
    left: 5vw;
    height: 40vh;
    min-width: 240px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px
}

#homepage_hello {
    transition: all 0.0s;
    stroke: black;
}

#homepage_title{
    padding: 10px;
    text-align: left;
}

#homepage_title::after {
    padding-top:60%;
}

.hompage_banner_content {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    display: block;
}

.showcase_imgs {
    position: relative;
    height: 150%;
    box-shadow: black;
    transition: top 1.0s;
}

.showcase_block {
    width:90%;
    padding: 5vw;
    display: flex;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
}

.showcase_subblock {
    display: inline-block;
    width: 50%;
    height: 40vh;
    flex-wrap: nowrap;

}

.subtitle {
    margin-left: 0;
    font-family: JetBrainsMonoNL-Regular, serif;
    font-weight:normal
}

.decoration_line {
    width: 40px;
    height: 5px;
    background-color: orangered
}

.attached_info {
    font-family: JetBrainsMonoNL-Regular, serif;
    font-size: 12px;
    padding: 3px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: orangered;
    color: orangered;
}