@charset "UTF-8";

@import "/_fonts/JetbrainMono/stylesheet.css";
@import "/webfonts/SourceSansPro_Bold/stylesheet.css";
@import "/webfonts/SourceSansPro_Black/stylesheet.css";
@import "/webfonts/SourceSansPro_Regular/stylesheet.css";
@import "/webfonts/SourceSansPro_SemiBold/stylesheet.css";

#articles_reader {
    width: 70%;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 10px;
    min-height: 250px;
    border-radius: 15px;
    padding: 15px 0 15px 0;
    transition: all 0.5s cubic-bezier(0.2, 0, 0.8, 1.0);
    background-color: rgba(255,255,255, 1.0);
}

.pc_tag_selector{
    position: fixed;
    width: 17%;
    right: 7.5%;
    top: 120px;
}

.pc_tag_selector button{
    text-align: left;
    width: 100%;
    border-width: 1px;
    user-select: none;
    -webkit-user-select: none;
    font-family: JetBrainsMono-Regular, serif;
    transition: 0.5s;
    line-height: 40px;
    padding: 0 15px 0 15px;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    background-color: rgba(220,220,220,0.0);
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
}

.pc_tag_selector h2{
    font-family: JetBrainsMono-Regular, serif;
    font-size: 20px;
    line-height: 40px;
    color: rgba(0,28,68,1.00);
    margin: 0 15px 0 15px;
}

.pc_tag_selector button:hover{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.5);
    border-color: rgba(200,200,200,0.5);
}

.mobile_tag_selector{
    position: relative;
    width: 100%;
    right: inherit;
    top: inherit;
}

.mobile_tag_selector h2{
    font-family: JetBrainsMono-Regular, serif;
    font-size: 20px;
    line-height: 40px;
    color: rgba(0,28,68,1.00);
    margin: 0 15px 0 15px;
}

.mobile_tag_selector button{
    text-align: left;
    width: auto;
    border-width: 1px;
    user-select: none;
    -webkit-user-select: none;
    font-family: JetBrainsMono-Regular, serif;
    transition: 0.5s;
    line-height: 40px;
    padding: 0 15px 0 15px;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    background-color: rgba(220,220,220,0.0);
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
}

.mobile_tag_selector button:hover{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.5);
    border-color: rgba(200,200,200,0.5);
}

.articles_block {
    overflow: hidden;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 300px;
    border: #AAAAAA solid 1px;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.5s cubic-bezier(0.4,0,0.0,1);
    transform: translateZ(-2px);
    opacity: 0;
}

.articles_block .top_line{
    height: 5px;
    width: 300px;
}

.articles_block .title_pic{
    height: 150px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.25s;
}

.articles_block h3 {
    margin: 5% 5% 5% 5%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.articles_block .class_list {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 5% 5% 5%;
}

.articles_block .class_list div{
    font-size: 12px;
    font-family: JetBrainsMonoNL-Regular, serif;
    background-color: #DDDDDD;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    margin: 0 5px 0 0;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.articles_block .pub_time{
    background-color: #DDDDDD;
    font-family: JetBrainsMonoNL-Regular, serif;
    color: #6a737d;
    font-size: 12px;
    height: 0px;
    overflow: hidden;
    transition: all 0.25s;
    text-align: right;
    line-height: 24px;
    padding-right: 12px;
}

.articles_block:hover .pub_time{
    height: 24px;
    vertical-align: middle;
}

.articles_block:hover .title_pic{
    height: calc(150px - 24px);
}

#articles_backbutton{
    background-image: url("/_images/pg_psg/back.svg");
    background-size: 0px 30px;
    background-position: center center;
    background-color: rgba(255,255,255,0.8);
    width: 0px;
    height: 40px;
    border-radius: 0px;
    transition: all 0.5s cubic-bezier(0.5,0,0.1,1.0);
}

#article_titlepic{
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 50%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.0;
    transition: all 0.5s;
}

#article_titlepic div{
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom , rgba(255,255,255,0.5), rgba(255,255,255,1.0));
}

.article_container {
    display: block;
    font-family: SourceSansPro Regular, serif;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0;
    transform: translateZ(-1px);
    transition: all 0.5s cubic-bezier(0,0.4,0.1,1.0);
}

#page_index {
    height: 50px;
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    perspective: 10px;
}

#page_index button {
    border-width: 0;
    border-radius: 5px;
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-family: JetBrainsMonoNL-Regular, serif;
    font-size: 12px;
    transition: all 0.5s;
    opacity: 0;
    transform: translateZ(-2px);
}

#page_index button:hover {
    background-color: #EEEEEE;
}
