/* CSS Document */

.bodyd{
	margin-top: 150px;
    height: 100000px;
    width: 100%;
	background-color: white;
}

.bodyd h1 {
    text-align: center;
    font-family: "SourceSansPro Bold";
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}