.disable_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.invisible_checkbox{
	display: none;
}

.ratio_width_based_on_height {
	height: 100%;
	width: auto;
	margin: 0;
}