.banner-bg {
    box-shadow: 0 0 50px 50px #000000 inset;
    background-color: black!important;

    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover!important;
    background-position: center bottom calc(30vh - 100px)!important;
    display: flex;
    z-index: -1;

    background-image: url("/src/webSrv/images/banner_bg.jpg")!important;

    align-items: center;
    justify-content: center;
}
.chapter {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: transparent;
}

.chapter:last-child {
    overflow: hidden;
}

#webSrv-logo-block{
    display: flex; flex-wrap: wrap;
    justify-content: center; align-content: center; vertical-align: middle; align-items: center
}

.webSrv-logos {
    height: 15%;
    padding: 2.5%;
}

#contact_btn {
    color: orangered;
    text-decoration: none
}

#contact_btn:after{
    background-color: orangered;
}